@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Island+Moments&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.heroSection {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.hero-left {
  position: relative;
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgImage {
  width: 55%;
  height: 55%;
  object-fit: contain;
}
.centerImage {
  position: absolute;
  width: 26%;
  height: auto;
  transform: translate(-53%, -72%);
  top: 50%;
  left: 50%;
}

.hero-right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  padding: 0 4vw;
}
.hero-right-first {
  font-family: "Island Moments", cursive;
  font-weight: 400;
  color: #0f3255;
  text-align: center;

  font-size: 3.8rem;
}
.hero-right-second {
  color: #f15d2b;
  font-size: 1.8rem;
  font-family: "Halant", serif;
}
.hero-right-third {
  color: #252729;
  font-family: "Instrument Sans", sans-serif;
  font-size: 1rem;
  max-width: 404px;
  text-align: center;
}
@media (max-width: 720px) {
  .heroSection {
    flex-direction: column;
    height: 100vh;
    gap: 0;
  }
  .hero-left {
    height: 50%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bgImage {
    width: 75%;
    height: 75%;
  }
  .centerImage {
    transform: translate(-50%, -72%);
  }

  .hero-right{
    padding-top: 15px;
    justify-content: flex-start;
    height: 50%;
    width: 100vw;
    gap: 1rem;
  }
  .hero-right-first {
    font-size: 2.2rem;
    width: 100%;
  }
  .hero-right-second{
    font-size: 1.3rem;
  }
  .hero-right-third{
    font-size: 0.8rem;
    width: 300px;
  }
  
}
