* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Instrument Sans", sans-serif;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;           
}

.main-container {
  height: 100%;
  width: 100%;

  background-image: url("/BG.png");
  background-size: cover;
  background-position: center;
}

.page-section {
  width: 100%;
  min-height: 100vh;
}
